.fondo{
background-color:#CDFEF7 ;
}
.texto{
    text-align: center;
    font-size: 18px;
}
.titulos{
text-align: center;
font-size: 24px;
}
.pie{
    background-color: black;
    text-align: center;
    color: white;
}